<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Hello Spring MVC</title>
  </head>
  <body>
    <h1>Recent spittles</h1>
    <div class="container" th:each="spittle : ${spittles}">
      <div th:text="${spittle.spitter.getName()}">user name</div>
      <div th:text="${spittle.message}">message</div>
    </div>
  </body>
</html>