<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:component-scan base-package="com.learning.springIdol">
  </context:component-scan>

  <bean id="audience" class="com.learning.springIdol.Audience"/>

  <!--<aop:config>-->
    <!--&lt;!&ndash;<aop:aspect ref="audience">&ndash;&gt;-->
      <!--&lt;!&ndash;<aop:pointcut id="performance" expression="execution(* com.learning.springIdol.Performer.perform(..))"/>&ndash;&gt;-->
      <!--&lt;!&ndash;<aop:around method="watchPerformance" pointcut-ref="performance"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</aop:aspect>&ndash;&gt;-->
    <!--<aop:aspect ref="magician">-->
      <!--<aop:pointcut id="thinking" expression="execution(* com.learning.springIdol.Thinker.thinkOfSomething(String)) and args(thoughts)"/>-->
      <!--<aop:before method="interceptThoughts" pointcut-ref="thinking" arg-names="thoughts"/>-->
    <!--</aop:aspect>-->
    <!--<aop:aspect>-->
      <!--<aop:declare-parents types-matching="com.learning.springIdol.Performer+" implement-interface="com.learning.springIdol.Contestant"-->
                           <!--default-impl="com.learning.springIdol.GraciousContestant"/>-->
    <!--</aop:aspect>-->
  <!--</aop:config>-->

  <aop:aspectj-autoproxy/>

  <!--<bean id="volunteer" class="com.learning.springIdol.Volunteer"/>-->
  <!--<bean id="magician" class="com.learning.springIdol.Magician"/>-->

</beans>